# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

Player X and Player Y

Player X and Player Y start positions, when starting the program for the maze game.

Starting location

the test data for this is an integer in this case 0, 0

Expected Test Result

my expected test result is that the location of 0, 0 which is in the top left of the maze will work and when the application is opened the player will spawn there and will start to when the game starts.

<img width="218" alt="Screenshot 2025-03-31 at 2 36 23 PM" src="https://github.com/user-attachments/assets/f92e96ff-094c-414b-b30f-3b45d1eca4e2" />

the player "block" spawned in the top left of the whole map which is what i wanted so the testing passed.

---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

